body,
html {
  margin: 0;
  padding: 0;
  background-color: hsl(30, 38%, 92%);
  height: 100vh;
  overflow: hidden;
}

main {
  width: 60%;
  display: flex;
  flex-direction: row;
  margin: 5% auto;
}

.image-container,
.info-container {
  width: 50%;
}

img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.info-container {
  background-color: hsl(0, 0%, 100%);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.category {
  text-transform: uppercase;
}

.retail-price {
  text-decoration: line-through;
}

.attribution {
  width: 100%;

  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
