body,
html {
  margin: 0;
  padding: 0;
  background-color: hsl(30, 38%, 92%);
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

main {
  width: 80%;
  margin: 5% auto 0;
}

.desktop-image {
  display: none;
}

.mobile-image {
  height: 50%;
  display: block;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.info-container {
  background-color: hsl(0, 0%, 100%);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 20px;
}

.category {
  color: hsl(228, 12%, 48%);
  text-transform: uppercase;
}

.description {
  font-size: 0.75rem;
  color: hsl(228, 12%, 48%);
  line-height: 24px;
}

h1,
.sale-price {
  font-family: "Fraunces";
  font-weight: 700;
}

.price-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sale-price {
  font-size: 2em;
  color: hsl(158, 36%, 37%);
}

.retail-price {
  text-decoration: line-through;
  color: hsl(228, 12%, 48%);
  padding-left: 24px;
  transform: translateY(-50%);
}

button {
  margin: 5% auto;
  border: none;
  color: hsl(0, 0%, 100%);
  background-color: hsl(158, 36%, 37%);
  width: 100%;
  border-radius: 15px;
  font-size: 18px;
  padding: 14px;
}

button:hover {
  background-color: hsl(156, 42%, 18%);
  cursor: pointer;
}

i {
  padding-right: 8px;
}

.attribution {
  width: 100%;
  bottom: 0;
  left: 0;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 600px) {
  body,
  html {
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  main {
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: row;
  }

  .mobile-image {
    display: none;
  }

  .desktop-image {
    display: block;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }

  .desktop-image,
  .info-container {
    width: 50%;
  }

  .info-container {
    border-bottom-left-radius: 0;
    border-top-right-radius: 15px;
    display: grid;
  }

  button {
    align-self: self-end;
  }
}
